[2020-01-28 23:09] davidbwaters opened #1 "Awesome work!"
Wow!  I was searching Github after wondering what the state of FOSS clipboard tools was for MacOS and came across your project.  Seriously awesome work.  I'm still playing around with the release, but the feature set and design are more mature than anything else I've seen.

And it's _native_!  A million Electron tools pop up all the time, some of which are attractive, but that seems like a terribl

[2020-01-29 11:05] mattDavo commented on #1
Hey @davidbwaters! Thank you for checking it out, I hope you find it useful!

Yeah exactly, I definitely had that in mind, especially when you're copying lots of text or large images.

Thanks a lot, I appreciate that. There are a few things I know I need to sort out as well but I really look forward to your feedback.

Thanks for the advice, and I'm definitely no designer 😂, so if you have any UI f

[2020-02-04 05:48] davidbwaters commented on #1
Hey, I'm having trouble getting it to open on the latest Catalina.  Nothing happens when I tried to open it.  It didn't ask for accessibility access, so I added manually selected the app and add it to the list, but that didn't solve it. I tried the previous 2.0 release and had the same issue.  I have gatekeeper disabled.  I searched in Activity Monitor for a yippy related process and none were sho

[2020-02-05 04:40] mattDavo commented on #1
Hey @davidbwaters, I had a look and I think the issue was to do with failing to load some fonts but it should be fixed now. Give [2.1.2](https://yippy.mattdavo.com/) a try and let me know how you get on.

[2020-02-21 07:39] davidbwaters commented on #1
Yeah, that fixed it.  Thanks.  Awesome work.  I look forward to the right click options, etc.  I designed a few variations on a possible icon.  The app icon I need to work with the colors and variants to match macOS more, but I mocked up an attempt at a "Y" shape as scissors.  I'm attaching what I've come up with so far.  These are just screenshots but they are vector shapes in Sketch.
![ic5](http

[2020-02-21 13:50] mehyaa commented on #1
Hey @mattDavo great work 👍🏻

I've been using MacOS more than a year now but I could still haven't found an application that can fill the void which [Ditto](https://ditto-cp.sourceforge.io/) filled on Windows.

Today I saw Yippy project on a list and gave it a try. I can say Yippy is the best in the ones which I've tried so far. And better looking (great looking actually). And more importantly open

[2020-02-23 12:44] alongouldman commented on #1
I join in to the above. amazing app! I am really looking forward to the ability to cosumize the keyboard shortcut - since the shortcut you have now is preserved in mac for cutting-and-pasting.
Anyways - thanks! Im not a swift dev so I can't really help on that one. If you need any python tasks - I am happy to help.

thanks!

[2020-02-25 09:29] mattDavo commented on #1
Hey guys! Thanks for all of the support, it is much appreciated and I'm glad you're liking it!

@davidbwaters the icon looks great, I like the rounded version you have in the large render!

@mehyaa and @alongouldman thanks for the suggestions! I'm fairly busy this week, but those two features shouldn't be too tough, so hopefully I can get them done for you in the coming weeks!

Cheers!

[2020-02-25 09:33] alongouldman commented on #1
@mattDavo playing around a bit more:
1. search is crucial actually, more then the shortcuts.
2. images don't work for me when I copy an image. I get "unknown format" message instead.
3. when working with multiple monitors, the pane is open always in the same one (even if my mouse and focus is in another)

thanks!

[2020-02-25 09:48] mattDavo commented on #1
1,3 ok noted. They can be next in line.

2. Would you be able to give me an example, so that I can debug it myself?

Thanks 😄

[2020-02-25 10:14] alongouldman commented on #1
this is what I get when I copy an image:

![image](https://user-images.githubusercontent.com/42400390/75237209-a1a0cd80-57c7-11ea-97f1-9e2514a795eb.png)

interesting though - When I click on image "copy image", it works fine. but when I take a snapshot and save into the clipboard (cmd+ctrl+shift+3), then I get this unknown format thingie.

[2020-02-25 11:07] mattDavo commented on #1
Ok cool, that's really helpful. I'll look into that!

[2020-02-25 11:11] mehyaa commented on #1
I think the TODO list, other feature requests mentioned here and the bugs should have their own issues for better tracking 🙂

[2020-02-28 00:23] davidbwaters commented on #1
@mattDavo Cool, thanks.  Do you have a preference or feedback on the icon itself from the variations I posted?  Looking at them again I am kinda leaning towards the first one and the last one.  I want it to be reminiscent of a Y and scissors, if that wasn't apparent, but if people just see a cool shape that's fine too.  The one on the right kinda resembles the mac command button, for what that's w

[2020-02-28 09:42] mattDavo opened #2 "New Icon"
Hey @davidbwaters, yeah I like the last one, how does it look in the status bar, would you be able to mock that up? I'm just worried it could look a little too skinny...

![image](https://user-images.githubusercontent.com/13739650/75537114-8bff0280-5a6a-11ea-91c6-52f495a258bc.png)

[2020-02-28 09:43] mattDavo opened #3 "Bug with copied images."
this is what I get when I copy an image:

![image](https://user-images.githubusercontent.com/42400390/75237209-a1a0cd80-57c7-11ea-97f1-9e2514a795eb.png)

interesting though - When I click on image "copy image", it works fine. but when I take a snapshot and save into the clipboard (cmd+ctrl+shift+3), then I get this unknown format thingie.

_Originally posted by @alongouldman in https://github.com/

[2020-02-28 09:46] mattDavo commented on #3
This will be fixed in the next release.

[2020-02-28 09:48] mattDavo opened #4 "Add centred window option"
Request for a centred window (resizable) option.

_Originally posted by @mehyaa in https://github.com/mattDavo/Yippy/issues/1#issuecomment-589660579_

[2020-02-28 09:50] mattDavo commented on #4
I will add the option for a centred Yippy window of 3 different sizes in the next release.

A drag and resizable window could be added in the future but currently carries a performance cost.

[2020-02-28 09:52] mattDavo opened #5 "Customizable Hot Key"
Would like to be able to customise the hot key.

_Originally posted by @alongouldman in https://github.com/mattDavo/Yippy/issues/1#issuecomment-590065045_

[2020-02-28 09:57] mattDavo opened #6 "Add search functionality"
Add the option for search functionality.

@alongouldman and anyone interested, how would Search be most beneficial? A fuzzy search, exact substring search or exact prefix search. Obviously some are more costly than others, especially as the number of saved items grows. Any thoughts and ideas would be great!

_Originally posted by @alongouldman in https://github.com/mattDavo/Yippy/issues/1#issuecom

[2020-02-28 10:01] mattDavo opened #7 "Better multiple screen support"
Feature request for opening the Yippy window on the screen the mouse is currently on. Currently the Yippy window only shows on the main screen. Would this mean that the Yippy window should be shown on all screens 😬or just the screen the mouse is on? If the Yippy window is open, should move across screens with the mouse or not until it is closed and re-opend.

_Originally posted by @alongouldman in

[2020-02-28 11:15] alongouldman commented on #7
IMO:
1. not in all screens - just the main one
2. once opened, it will stay in that monitor even if the mouse moved. Yippy window will only change place after closed and reopened.
3. to determine what monitor to open the window in, you *can* use mouse position - but I think there is also a thing in mac that chooses the focused window (maybe determined by a click? I am not sure). this could also be

[2020-02-28 11:22] alongouldman commented on #6
What exactly do you mean by fuzzy search? IMO the best is substring search, case insensitive.
for the number of items - isn't that an issue in general? Is there no limit for the number of items? would that not crack the computer memory eventually?
if you limit the number of items (even 1000) that is enough, and I think search would be quick.

[2020-02-28 21:48] davidbwaters commented on #2
Sure I'll post a progress update soon.

[2020-02-28 23:30] mattDavo commented on #6
A fuzzy search is approximate string matching, see (https://en.wikipedia.org/wiki/Approximate_string_matching). But yeah there isn't a limit in the number of items, but I think I will have to add that soon.

Regardless, I agree, I think a case insensitive substring search would be best.

[2020-02-28 23:32] mattDavo commented on #7
OK sounds good, I'll see if I can determine the focused window.

[2020-03-09 04:13] davidbwaters commented on #2
Hey, I've been tweaking the app icon.  I used the other version you liked.  I'll mock it in the status bar soon.
![AppIcon3](https://user-images.githubusercontent.com/5247627/76182323-cff4b480-619a-11ea-9137-f35bd8a6343f.png)

[2020-03-10 10:30] mattDavo commented on #2
That looks awesome @davidbwaters, great work!

[2020-03-12 01:17] davidbwaters commented on #2
thanks did a few iterations:
![ic7](https://user-images.githubusercontent.com/5247627/76478059-bdb68880-63dd-11ea-8825-4a2a06dfa30b.png)
![ic8](https://user-images.githubusercontent.com/5247627/76478060-c018e280-63dd-11ea-86fd-29d457eee785.png)

[2020-03-12 04:33] davidbwaters commented on #2
Hey. Here are mockups of light dark menu bar icons.  I'm attaching a zip with a bunch of resources you can use however you want, but I might still refine the app icon when I can.
![dk](https://user-images.githubusercontent.com/5247627/76487511-0af42380-63f9-11ea-86da-3abbfac42b74.png)
![lt](https://user-images.githubusercontent.com/5247627/76487516-0cbde700-63f9-11ea-9bd2-75bb19aa655d.png)
[Icons.

[2020-03-12 04:37] davidbwaters commented on #2
also, here is a shot of the current icon among other icons for reference (even though it won't be in the dock really)
![Screen Shot 2020-03-12 at 12 35 32 AM](https://user-images.githubusercontent.com/5247627/76487697-92da2d80-63f9-11ea-9fae-878a20eb4871.png)

[2020-03-15 16:45] justbilt opened #8 "Deduplication for items"
![image](https://user-images.githubusercontent.com/3746991/76706016-52dbb900-671f-11ea-8c57-8824da275fe1.png)

![image](https://user-images.githubusercontent.com/3746991/76705998-3d668f00-671f-11ea-82dd-ffb2f184ac62.png)

It would be great if you could deduplication the copied items.

[2020-03-15 16:49] justbilt commented on #6
Any roadmap or progress for this feature ? I think it's basic fucntion that you clipbaord-manager heavy user.

[2020-03-17 08:05] mattDavo commented on #2
This is awesome @davidbwaters! I'll add these in the next release! Hopefully soon!

[2020-03-17 09:59] mattDavo commented on #3
Resolved in [2.2.0](https://github.com/mattDavo/Yippy/releases/tag/2.2.0)

[2020-03-17 09:59] #3 closed

[2020-03-17 10:02] mattDavo commented on #4
Resolved in [2.2.0](https://github.com/mattDavo/Yippy/releases/tag/2.2.0).

[2020-03-17 10:02] #4 closed

[2020-03-17 10:02] mattDavo commented on #5
Resolved in [2.2.0](https://github.com/mattDavo/Yippy/releases/tag/2.2.0).

[2020-03-17 10:02] #5 closed

[2020-03-17 10:03] mattDavo commented on #2
New icons are in [2.2.0](https://github.com/mattDavo/Yippy/releases/tag/2.2.0)!

[2020-03-18 14:55] mehyaa opened #9 "Can not set some keyboard shortcuts"
I'd like to use Control (⌃) + Ditto mark (") as shortcut but I can not set it. Is there a limitation on that?

[2020-04-01 09:28] mattDavo commented on #6
Hi @justbilt I'm sorry I haven't been able to add it yet. Hopefully, I can get it done in the coming months!

[2020-04-11 09:54] mattDavo commented on #9
Hi @mehyaa, sorry for the late reply. That should be fine, what kind of keyboard are you using?

[2020-04-11 10:24] mehyaa commented on #9
I use MacBook Pro, I'm trying on its keyboard, the key combination I've mentioned above.

[2020-04-11 10:34] mattDavo commented on #9
Hmm, which Macbook Pro release?

[2020-04-11 21:51] mehyaa commented on #9
MacBook Pro 16"

[2020-04-12 10:24] #2 closed

[2020-05-24 10:46] mattDavo commented on #7
Resolved in [2.4.0](https://github.com/mattDavo/Yippy/releases/tag/2.4.0) except that the window will follow the mouse across screens while open. If this is a major issue, I can add both options. It just seemed a bit unnatural, that's all. 😄

[2020-05-24 10:46] #7 closed

[2020-06-09 02:14] lodestone commented on #6
Hi, I just found **Yippy** and I am impressed with it so far. 👍

Let me preface this with, I don't know what is or isn't easy or hard with Swift.

_On dealing with the size of the history_, in an ideal case the search would fire off and in the background would start churning through items (starting with the most recent) and update the UI as soon as matches are found. That would make the size of th

[2020-06-11 13:33] mattDavo commented on #6
Hi @lodestone, thank you for your support!

I am sorry I have been quite slack with working on this feature.

Yeah that's a good point, and I am no longer too concerned with the performance of search but just the other implementation details.

Having both fuzzy and exact substring is a great idea; I'll make sure that is how I do it eventually if not initially.

I will take a look this weekend to d

[2020-06-28 12:44] mattDavo commented on #6
Hi all, I'm sorry this feature requires a fair bit of work which I cannot commit to at the moment. Hopefully, I'll have the time in a few months, when I have a few less commitments 😄

[2020-07-10 10:26] msaspence opened #10 "Place under the menu bar"
Yippy gets layered over the menu bar's drop shadow/border, which makes it look a little out of place at the top. This is true is dark mode but much more evident in light more imo.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/242861/87144474-b45ffe80-c29f-11ea-96ae-1d40927e5c51.png">

PS This is a great little app, I've spent so long looking for a clipboard manager t

[2020-07-10 10:29] msaspence opened #11 "Blur previous focus while Yippy open"
When you open Yippy the previous input remains focused. This sometime leads to me forgetting that Yippy is even open, and I end up typing something in there and then when Yippy steals the space key event I wonder what is going on for a second. It would be much smoother if the focus was completely taken by Yippy while it was open.

Presumably this would need to happen if search was implemented anyw

[2020-07-23 13:13] baum1234 opened #12 "copying from Yippy"
I don't know if it is a bug or a missing feature, but I can't copy text or images with command+c out of Yippy.
For text it is currently not that bad, but i can't get images out of Yippy. Not even through drag'n'drop.

Would be nice to copy text/images with command+c out of Yippy :)
Also dragging images should simulate copy & past to the cursor positon.

[2020-07-24 11:46] mattDavo commented on #12
Hey @baum1234

You raise a valid point and maybe when the window is open command + c should copy the selected item however, Yippy is designed so that it works in the opposite way: If the window is open, command + c works as it normally does. So if something on the screen is selected that will copied and added to the history.

To achieve the affect that you want, you should press enter. Yippy curre

[2020-07-24 11:55] mattDavo commented on #10
Hi @msaspence, thank you for your support! Yes search seems to be the top priority (for me as well) but I really cannot commit to it right now, and is quite tricky with the way Yippy avoids taking window focus.

Hmm yes I understand your concern, but unfortunately this is the best solution that I have found. ☹️  Apple does not provide a great API for determining the visible frame (screen minus doc

[2020-07-24 11:55] #10 closed

[2020-07-24 11:58] msaspence commented on #10
You're right and now this is going to bug me every time I open notifications 😂

[2020-07-24 12:02] mattDavo commented on #11
Yeah this is another valid concern, but my first intention. I designed Yippy to initially fit my need of wanting a fast access stack of recent copies. Mainly for when I code so I move chunks around very quickly. E.g. very quickly opening the window and paste something recent straight in with very few key presses.

When I first built this I didn't have much experience with macOS development so this

[2020-07-24 12:03] mattDavo commented on #10
Haha sorry for ruining it for you!

[2020-08-13 09:26] baum1234 commented on #12
Enter works :)

Would be great to just have window with some settings, maybe replaceing command + c, like other tools like Paste does.
Also would be great to have tutorial for all features inside the app :)

[2020-08-16 07:11] mattDavo commented on #12
Ok I will look into it 😃

[2020-09-05 19:56] Bartman0 opened #13 "Some ideas to borrow from Clipy?"
I am trying Yippy now after being an avid user of Clipy https://clipy-app.com .
One of the things Clipy has are menu's for one's own short texts.

For example I had a SQL menu with "select * from ", "group by ".
And a 'Me' menu with my name, adres, telephone details etc.

All of this easily accessible from the same Shift+Cmd+V shortcut.

What I missed in Clipy and was trying to add to it (but now

[2020-09-07 07:44] mattDavo commented on #13
Hey @Bartman0, thank you for your support!

Yeah I 100% agree and would love this feature as well. I have long visioned this feature to be implemented by "groups" and you can save your items to groups, which can be accessed by tabs (/filters) in the Yippy window.

I have said (a few times now 😅) that the next thing I would do is search. I have begun working on it, and would say it is about 20% com

[2020-10-14 11:28] Kamiar17 opened #14 "Catalina is suspicious of you!"
![Screen Shot 2020-10-14 at 13 04 22](https://user-images.githubusercontent.com/72865929/95982719-bf877500-0e20-11eb-9488-31844a8e3f53.png)
("Yippy.app" can't be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more information.")
What can I do?

Many thanks.

[2020-10-14 21:53] mattDavo commented on #14
Hey @Kamiar17, yeah this is because Yippy doesn't have a certified Apple certificate, so Catalina is suspicious of it! From memory, I don't think it can be certified as it breaches rules of the App Store that allow it to copy.

I can't remember if it's control or option, but try holding one of them down when you open Yippy, that should give you the option to open it anyway.

Let me know how you go

[2020-10-18 13:50] Bartman0 opened #15 "Paste as text (leaving out any formatting)"
It would be nice to have the option to paste as text, and text only.
So leaving out any formatting, effectively paste matching target style.

There is a workaround at this moment:
1. paste desired item (positions the paste item as the current/default item)
2. Cmd-Z (remove formatted entry again)
3. Shift-Option-Cmd-V (paste matching target style, or text only; using the current/default item)

But

[2020-12-01 20:28] davidbwaters opened #16 "Big Sur Icon Update"
I update the icon for Big Sur.

[Yippy Big Sur.zip](https://github.com/mattDavo/Yippy/files/5625274/Yippy.Big.Sur.zip)

[2020-12-20 00:20] buxxb opened #17 "fundamentals"
Hi Matt,

Fundamentals for UX in Yippy MVO.

1
click on the icon in menubar to get the clipboard

2
have an icon in the clipboard to get the preferences and/or option+ to get it

3
pin frequently used items [FUIs]

4
don't force blue if general settings are other colour, or just make it grey

5
click on item to paste and make window disappear. that's normal.

6
i can see you have a contextual menu

[2020-12-23 10:59] karlhorky opened #18 "Prevent copying from password managers like 1Password, KeePassXC, etc"
Hi there, first of all, thanks for this software, really cool! I'm currently using [Flycut](https://github.com/TermiT/Flycut), but I'm considering giving this a shot too :)

Would you be open to preventing saving from password manager pasteboard types such as:

- `org.nspasteboard.TransientType`
- `org.nspasteboard.ConcealedType`
- `org.nspasteboard.AutoGeneratedType`
- `com.agilebits.onepassword`

[2021-01-10 01:14] mattDavo commented on #18
Done! https://github.com/mattDavo/Yippy/releases/tag/2.4.1

@karlhorky could you please confirm that it works for your workflow?

[2021-01-10 15:02] karlhorky commented on #18
Ah, just trying out `2.4.1` with [KeePassXC](https://keepassxc.org/) on macOS and it appears to be copying the passwords still...

I looked at the list in Maccy and it appears that there are others that I missed:

https://github.com/p0deje/Maccy/blame/20e87f9880824e14a7a4f34d9575e90de68ccf11/README.md#L69-L83

[2021-01-10 15:13] karlhorky opened #19 "Add a Homebrew Cask"
Hi @mattDavo !

Would you be open to having Yippy submitted as a Homebrew Cask? They have a [guide to adding a new cask](https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md).

[2021-01-12 22:35] mattDavo commented on #18
Ahh gotcha, cheers. Will sort this out

[2021-01-12 22:36] mattDavo commented on #19
Yep. I'll take a look 👌

[2021-01-14 11:06] mattDavo commented on #18
Sorry try [2.4.2](https://github.com/mattDavo/Yippy/releases/tag/2.4.2) @karlhorky should work now.

[2021-01-14 11:15] karlhorky commented on #11
I like the feature of Yippy not taking focus! (this is also a feature of other clipboard managers such as [Maccy](https://github.com/p0deje/Maccy) and [Flycut](https://github.com/TermiT/Flycut).

One small tweak to improve the UX of the unfocused window may be to dismiss it (same dismissal as done when <kbd>esc</kbd> is pressed) when something else is interacted with (eg. user clicks on the backgr

[2021-01-14 11:17] karlhorky commented on #18
Yayy, looks good! 🙌 💯  Thanks @mattDavo - going to try switching from Maccy to Yippy now! Closing.

[2021-01-14 11:17] #18 closed

[2021-01-14 11:24] karlhorky commented on #19
If there are any artificial barriers such as minimum 50 GitHub stars (can't remember where I saw this), I will help with getting the required stars :)

[2021-01-15 11:35] karlhorky commented on #15
This feature would be great!

I thought that these "Shows / Pastes Rich Text" options indicated this feature, but I see no difference if I uncheck both of them (also tried restarting Yippy):

![Screen Shot 2021-01-15 at 12 33 06](https://user-images.githubusercontent.com/1935696/104722398-0ccff700-572e-11eb-9486-08093806cd6c.png)

[2021-01-16 04:02] mattDavo commented on #19
Yeah had a try @karlhorky, looks like it's not notable enough, not sure if all or any or these criteria need to be met:

[code]

[2021-01-16 10:41] karlhorky commented on #19
Ok, tweeted, let's see! https://twitter.com/karlhorky/status/1350392499404222464

[2021-01-16 23:17] mattDavo commented on #19
Thanks!

[2021-01-17 22:06] mattDavo commented on #15
Sorry yes, I think it got broken. I will investigate!

[2021-01-18 10:22] mattDavo commented on #14
This is now stale. Closing.

[2021-01-18 10:22] #14 closed

[2021-01-18 10:50] mattDavo commented on #15
I have added more pasteboard type exclusions in [2.5.0](https://github.com/mattDavo/Yippy/releases/tag/2.5.0) Let me know of any cases (copy sources) that this does not work for @karlhorky.

[2021-01-18 10:56] karlhorky commented on #15
Oh, this restricts the pasteboard types, so that rich text copies do not even show up at all in Yippy? Ah, I think this is not what I'm looking for (maybe also not what @Bartman0 is looking for).

I was looking for something that strips formatting of text:

- copy rich text
- paste plain text

[2021-01-18 10:58] mattDavo commented on #15
Nah, they should show up if you have "Shows rich text" enabled but not paste rich text if "Pastes rich text" is disabled.

[2021-01-18 11:03] karlhorky commented on #15
Oh, ok - I guess it should work then how I imagined? I'll give `2.5.0` a shot!

[2021-01-18 11:05] mattDavo commented on #15
I hope so 😅

[2021-01-18 11:09] karlhorky commented on #15
Ok, "Pastes rich text" works 🎉

Not sure that "Shows rich text" is working - I have it unchecked, but it's still showing entries which have the rich text in my comment above:

![Screen Shot 2021-01-18 at 12 08 46](https://user-images.githubusercontent.com/1935696/104907845-fc19be00-5985-11eb-87f6-4b687a3e9a07.png)

Although, it's not showing the formatting in the visual display of Yippy - but it d

[2021-01-18 11:19] mattDavo commented on #15
Sweet!

Yeah, maybe this isn't very clear, but this option does not affect what items are stored, but rather how they are displayed. Having it unchecked should just achieve consistent formatting, unlike this with it checked:

<img width="369" alt="Screen Shot 2021-01-18 at 10 15 19 pm" src="https://user-images.githubusercontent.com/13739650/104908487-a8858f80-59da-11eb-981d-afc03f5e6859.png">

In

[2021-01-18 11:35] karlhorky commented on #15
Ah, maybe spoke too soon? Just tried copying / pasting multiple lines with this document and it's copying the color and formatting info:

https://docs.google.com/document/d/e/2PACX-1vSW0GMz8SVLO5vogG3sIU3yALW9q9o-k2pCt1GdrgN4namECaLRQ-9H7rsV7HahToDV_rKfVzEB_jn1/pub

[2021-01-18 19:45] mattDavo commented on #15
Ok cheers, will check it out today 👌

[2021-01-19 09:55] mattDavo commented on #15
Hmm @karlhorky would you be able to send a video of exactly how you're doing it? I can't seem to reproduce it...

[2021-01-19 13:57] karlhorky commented on #15
Ok, here's a video: https://www.youtube.com/watch?v=4vQ5blDUIwA

I also gave you edit access to the Google Doc.

[2021-02-22 14:08] aried3r commented on #19
Hey! Until this repo fulfills the necessary requirements, would it be an option to add a tap? It can live in a separate repo under your username. For example, users have their own, [like this one.](https://github.com/JakeWharton/homebrew-repo).

See also https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap and https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2021-03-02 13:02] karlhorky opened #20 "Overlay Window Cut Off on Second Monitor"
Hi @mattDavo ! 👋  Hope you are well.

If I use a second monitor with a lower resolution as my laptop screen, then Yippy gets cut off at the top (cannot see the "Yippy" title or the first item) 😱

[2021-03-06 14:24] akaphantom opened #21 "Sound effect on copy"
Hey, Matt!
Your Yippy is the best alternative to _Paste App_. But the latter have a useful function - the sound effect on the copy.
How about this? this will be a great new feature in your app and another better alternative to the Paste App after they've switched to a cloud-based strategy.
And deceived those who bought their " old " app.
this will be a great new feature in your app.
P.S.
Sorry for

[2021-04-16 07:07] CollinsVakayil opened #22 "M1 native support?"

[2021-04-18 09:15] CollinsVakayil commented on #20
Yes, I've noticed the same issue when multiple monitors are hooked up Yippy gets cut off.

[2021-05-03 15:55] tjdoc commented on #22
Me too. I'd love to see Yippy with m1 support

[2021-05-12 14:09] pasricha opened #23 "Bug with different keyboard keyboard layout in Big Sur"
There might be a bug that doesn't show the correct keyboard shortcut in the dropdown menu.

I recently upgraded from Mojave to Big Sur and couldn't get the toggle window to work. I use the Dvorak keyboard layout and the pressing <kbd>⇧</kbd> <kbd>⌘</kbd> <kbd>V</kbd> didn't do anything. It turns that the shortcut was mapped to <kbd>⇧</kbd> <kbd>⌘</kbd> <kbd>K</kbd> instead (<kbd>K</kbd> on the Dvo

[2021-05-16 15:27] swierzbicki opened #24 "Adding tabs where you can move most useful copy-past things"
It would be really handy to have an option create tabs and move things to a separate tabs.

Something like in `Paste` app.
![obraz](https://user-images.githubusercontent.com/7196324/118402837-f5693200-b66b-11eb-98dd-8d249e51f47c.png)

[2021-05-22 15:37] CollinsVakayil opened #25 "Please add option to hide menu bar icon"
For those of us that use the shortcut to trigger Yippy clipboard, we'd like an option to hide the menu bar icon.
Also please add a button to clear clipboard history when the clipboard window is open.

[2021-05-28 19:25] alexruf opened #26 "Support password detection/managers"
Would be great to have support for password detection for those who are working with password managers like 1Password, LastPass etc.
I think there are multiple options to deal with this. Some clipboard managers allow specifying applications which should be excluded from clipboard management. Personally I was using the clipboard manager build into Keyboard Maestro for a long time, which had a prett

[2021-05-28 21:03] Fischmuetze opened #27 "Add smaller centered window size option"
Hi,
would be great to have the tool available in a repository for installing it via home brew cask.

Also I would like to prefer smaller figures to display yippy ... for my eye it comes mostly much to big
Even the small sized center window is very huge on 27" screen.
Currently I'm using Clipy since years and Yippy could be an suiting candidate to rep,ace that but it should not appear linke a scree

[2021-05-29 11:34] mbert opened #28 "Configurable shortcuts for pasting stored clipboards"
First of all thank you for this useful tool!

Though drag and drop is a working alternative, I'd really like to be able to paste stored clipboards using shortcuts. However since Cmd-[1-9] is already used for switching workspaces on my machine, how about a configuration setting for this?

[2021-05-29 23:09] marcelismus commented on #26
+1

[2021-06-01 15:39] jk commented on #27
Same as https://github.com/mattDavo/Yippy/issues/19

[2021-06-02 07:19] Palmuser56 opened #29 "Error copying in Libreoffice Calc"
Hello,

first of all: Thanks for Yippy. It is really a great tool.

When I copy a cell in LibreOffice Calc I get something like "Failed to save new pasteboard item due to error: The item couldn’t be saved because the file name “dyn....weqbc” is invalid."
Nevertheless the text was copied to Yippy. Hence everything seems to work fine but the window with the message is annoying.

Best regards
Michael

[2021-06-04 16:15] karlhorky commented on #19
Ah just came back to the repo just now, and 94 stars!! ✨ 🙌

Looking forward to seeing this on Homebrew Cask! 🎉

[2021-06-04 16:15] karlhorky commented on #19
@aried3r do you think that you could help with submitting this to Homebrew Cask?

[2021-06-09 11:54] mattDavo commented on #19
Created a PR https://github.com/Homebrew/homebrew-cask/pull/106961 👌

[2021-06-09 13:07] karlhorky commented on #19
Awesome, thanks Matt!

[2021-06-10 00:48] mattDavo commented on #19
Merged!

[2021-06-10 00:48] #19 closed

[2021-06-11 08:47] Rediwed commented on #26
I have to more possible solutions:

1) Introduce a modifier key to the copy shortcut where it doesn't store the string in the manager. For instance: Cmd+C to copy and store in manager and Shift+Cmd+C to only copy in clipboard (not in manager)

2) Introduce a shortcut to set a temporary privacy-mode, where it will not store anything from the clipboard in the manager for the following 30 seconds or

[2021-06-12 03:45] #1 closed

[2021-06-12 03:47] mattDavo commented on #22
Unfortunately I don't have a M1 mac, so won't be able to test this. Happy to accept any PRs 😄

[2021-06-12 04:02] mattDavo opened #30 "Tint Color to match System Default"
Originally raised in https://github.com/mattDavo/Yippy/issues/17

[2021-06-12 04:11] mattDavo opened #31 "Settings button in Yippy Window"
Originally raised in https://github.com/mattDavo/Yippy/issues/17

[2021-06-12 04:16] mattDavo commented on #17
Hello,

Won't be doing this unless there are many more requests.

https://github.com/mattDavo/Yippy/issues/31

Will be explored when solving https://github.com/mattDavo/Yippy/issues/24

https://github.com/mattDavo/Yippy/issues/30

Clicking is for selection as with most UIs, enter will paste the item.

Do not be deceived by [semantic versioning](https://semver.org/), the changes between v1 and v2,

[2021-06-12 04:16] #17 closed

[2021-06-12 04:25] mattDavo opened #32 "Add macro support"
Originally raised in https://github.com/mattDavo/Yippy/issues/13

[2021-06-12 04:25] mattDavo commented on #13
Closing as this has multiple requests which have dedicated issues:
- Groups/folders: https://github.com/mattDavo/Yippy/issues/24
- Macros: https://github.com/mattDavo/Yippy/issues/32

[2021-06-12 04:25] #13 closed

[2021-06-12 04:30] mattDavo commented on #23
Hello @pasricha, sorry there have been other issues with non-standard keyboards in the past, however, I am unable to test changes to this as I don't have a Dvorak keyboard. I will happily review any PRs made to improve this 😄

[2021-06-13 06:27] mattDavo commented on #29
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.6.0

[2021-06-13 06:27] #29 closed

[2021-06-13 06:27] mattDavo commented on #27
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.6.0

[2021-06-13 06:27] mattDavo commented on #20
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.6.0

[2021-06-13 06:28] mattDavo commented on #20
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.6.0

[2021-06-13 06:28] #20 closed

[2021-06-13 06:28] mattDavo commented on #27
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.6.0

[2021-06-13 06:28] #27 closed

[2021-06-13 08:42] karlhorky commented on #20
Great, testing now. I see that [you also also bumped the Homebrew Cask](https://github.com/Homebrew/homebrew-cask/pull/107229), thanks!!

[2021-06-13 08:48] karlhorky commented on #20
@mattDavo getting a "Yippy can't be opened because Apple cannot check it for malicious software" error - maybe something wrong with code signing?

<img width="258" alt="Screen Shot 2021-06-13 at 10 47 14" src="https://user-images.githubusercontent.com/1935696/121800927-d93dbe00-cc34-11eb-86fa-1347c6c44f89.png">

I can open a new issue if you'd prefer too.

[2021-06-13 08:50] karlhorky commented on #20
Clipping issue has been fixed though, looks great! 👍 Thanks again!

[2021-06-13 09:02] karlhorky opened #33 "Do not create a new entry for duplicate content (option? default on?)"
Hi @mattDavo ! 👋

One idea that I've had when using Yippy extensively over the last months is this workflow:

1. Copy a piece of text repeatedly (because sometimes hitting cmd-C doesn't register)
2. There are now multiple duplicate entries in the clipboard manager, pushing some of the older history off the screen

What do you think of adding functionality to prevent creating a new history item if

[2021-06-13 09:11] mattDavo commented on #20
Hey @karlhorky, I think this has always been an issue (see [installation help](https://yippy.mattdavo.com/installation)). I think if you just replace the existing installed application it doesn't raise this again but if you delete and reinstall it does?  Unfortunately homebrew cask does delete then install to upgrade.

I looked further into the issue today and yeah you're right it's a code signing

[2021-06-13 09:16] mattDavo commented on #33
Hey @karlhorky, glad to hear that all the bugs haven't been painful enough to drive you away 😅 Yep this one is on my radar and going to do it soon: https://github.com/mattDavo/Yippy/issues/8

Closing this issue since it's a duplicate.

[2021-06-13 09:16] #33 closed

[2021-06-13 09:19] karlhorky commented on #33
Ah weird, I searched for "deduplication" in the issues 🤔 I guess the GitHub search isn't up to the task...

Oh, not by a long shot! Yippy is by far the best clipboard manager I've ever used 💯 Great work.

[2021-06-13 09:20] karlhorky commented on #8
Some keywords for search: duplicate, deduplicate, duplication

[2021-06-13 09:21] karlhorky commented on #22
I have an M1 and can test, if someone does a PR

[2021-06-13 09:26] karlhorky commented on #26
I think this has been fixed in version `2.5.0` already (original work done in `2.4.1` and `2.4.2`):

https://github.com/mattDavo/Yippy/issues/18

@alexruf can this be closed?

[2021-06-13 09:27] mattDavo commented on #33
Alright haha, curious what you find better than alternatives? I just had a quick look on [Product Hunt](https://www.producthunt.com/search/posts?q=clipboard%20manager) and some seem quite good, albeit not free 😅

@karlhorky

[2021-06-13 09:35] karlhorky commented on #33
Well I suppose there are fancy alternatives, and they offer a bunch of extra features, but my needs are pretty simple: I just want to be able to copy multiple times (normally only on a bunch of text) and have that show up in a multi-line list. I also use it sometimes to remove formatting from text, but this is not a huge dealbreaker feature normally. Yippy does a lot of things great, and it's mini

[2021-06-13 10:02] mattDavo commented on #33
Ahh cool, thanks for the detailed answer and I appreciate the support!

Ah yeah nice, I would like to more as well but in my (fairly limited) macOS development I've found it can be hard to make certain things work (like in that thread). Similarly with Yippy, I'd like to be able to have it on the App Store, but it simply wouldn't be accepted with the way I make it paste on enter. There are workarou

[2021-06-13 11:00] mattDavo commented on #8
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.7.0. For now I have done this without any setting to restore the original behaviour. If that is required please raise a new issue.

This should also solve the problem for all types of pasteboard items but could cause some issues due to bad pasteboard data types. If there are any problems please raise a new issue.

[2021-06-13 11:00] #8 closed

[2021-06-13 11:36] karlhorky commented on #20
Oh ok, understood. Wonder if a possibility for donations (eg. GitHub Sponsors, Patreon, Open Collective, etc) would help to offset the cost here.

Just tried replacing with an upgraded version on macOS Big Sur 11.4, and it is making me jump through the security hoops again. I think that Catalina changed the security system...

[2021-06-14 02:01] mattDavo commented on #20
Yeah have thought about it, might consider it if adoption continues to increase.

Ah yeah I think so...

[2021-06-16 01:24] CollinsVakayil opened #34 "Feature Request: Clickable copied links on Yippy clipboard window"
Many links end up on the Yippy clipboard window, it would be great if we are able to click on the link directly from the Yippy clipboard and opening it in the default browser.

[2021-06-16 08:28] danielpreisinger opened #35 "Show source/application from where it was copied from"
I would like to see the source (application) from where I have copied the snippet, how it is already implemented in Paste app. Thank you for the great work!

[2021-06-26 04:42] #6 closed

[2021-06-26 05:11] mattDavo commented on #15
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.8.0

[2021-06-26 05:11] #15 closed

[2021-06-26 05:11] mattDavo commented on #30
Resolved in https://github.com/mattDavo/Yippy/releases/tag/2.8.0

[2021-06-26 05:11] #30 closed

[2021-06-26 08:46] karlhorky commented on #15
Cool, looks like the formatting is gone! Thanks!

[2021-07-04 11:38] mickeyperlstein commented on #14
its back
“Yippy” can’t be opened because Apple cannot check it for malicious software.
version 2.8.1
mac os: BigSur 11.4

[2021-07-05 10:04] mattDavo commented on #14
Hi @mickeyperlstein, this was never resolved. It is because the app is not notarized and doing so requires paying for a developer account. I have no other need for a developer account, so I will not be paying for one at this time.

[2021-07-07 12:48] karlhorky opened #38 "Delete Shortcut No Longer Working?"
Hey @mattDavo ! 👋 Hope you're well.

I'm on 2.8.1 and it seems like in one of the last versions, the delete shortcut key (<kbd>cmd</kbd>-<kbd>backspace</kbd>) no longer works.

In 2.8.0 and 2.8.1 it also makes a \*beep\* error sound.

The delete function works from the menu.

[2021-07-07 12:52] karlhorky commented on #38
Oh wait, I was reading the shortcut wrong - I guess it is not <kbd>cmd</kbd>-<kbd>backspace</kbd> - it's <kbd>ctrl</kbd>-<kbd>backspace</kbd>! This is working now! Closing.

[2021-07-07 12:52] #38 closed, assigned to nobody

[2021-07-07 12:54] mattDavo commented on #38
Ah yep was just about to say. Thanks. I did this to better support the search bar, to allow clear left with  <kbd>cmd</kbd>-<kbd>backspace</kbd>.

Although I have now just realised that delete is broken when searching.

Cheers!

[2021-07-07 12:56] mattDavo opened #39 "Fix delete when searching"
Deleting an item when searching deletes the real item in that index rather than the one being displayed to the user.

[2021-07-12 14:56] mickeyperlstein commented on #14
ok anyway for others, you can open a "suspicious app":

Click on System Preferences on your Mac Dock.
Choose Security & Privacy.
Tap the lock at the bottom left of the screen.
Enter your password to unlock Security and Privacy.
Choose the Anywhere under Allow apps downloaded from. ...
Click the unlocked lock to keep the change.

[2021-07-21 14:39] visvital opened #40 "Hide Yippy window on the outside click"
As a user, I would like the Yippy window to be hidden when I click outside so that I don't have to close it specifically with the Esc button or select some snippets.

[2021-07-21 14:43] visvital opened #41 "Optimize content when Bottom positioning is selected"
As a user, I want my Yippy snippets to be presented horizontally rather than vertically when I apply Position → Bottom so that I could use the screen real-estate more efficiently.

[2021-07-21 14:47] visvital opened #42 "Copy multiple snippets at once"
As a user, I want to copy multiple snippets of the same type I selected with cmd+click as a single snippet so that I could quickly paste the information in the application I want to.

[2021-07-21 18:18] karlhorky opened #43 "Yippy Taking Focus"
Hi @mattDavo ! 👋

I realize that in the last few versions of Yippy there has been a regression in terms of the focus:

1. In previous versions, when Yippy was opened, it did not steal focus from whatever had it
2. In new versions, the focus is stolen from the current window

This new focus stealing is causing a few weird problems, especially with applications such as Chrome and VS Code in the curr

[2021-07-23 19:11] lilvadim opened #44 "Feature request - Add little button in a corner to close window"
Something like this
<img width="534" alt="Screenshot 2021-07-24 at 02 06 31" src="https://user-images.githubusercontent.com/32203382/126830066-89d0560b-efe7-493a-b8a1-cad2a49320b9.png">
or a macOS style red circle

[2021-07-30 13:00] visvital opened #45 "Paste the value by double-click on it in the Yippy popup window"
As a user, I want to have the value I double-clicked on inserted so that I don't have to select it and then press cmd+V.

[2021-08-18 18:27] drej1 opened #46 "Add support for pasting in plain text with additional key in shortcut"
Hi,
it would be great if it was possible to paste in richtext by default but add possibility to paste in plaintext.
Eg. when navigating through history and instead of hitting enter you hit command + enter (commnand + mouse click) (or control + enter whatever) it would paste plain text, and by hitting only enter it would paste richtext.

Thanks

[2021-08-19 08:58] Speed1 commented on #26
Passwords copied directly from 1Password are not shown anymore in Yippy (great!!!), but when I copy them from the 1Password Chrome Extension they still get added to the Yippy history.
Maybe this could be solved somehow?

[2021-08-19 11:28] drej1 commented on #22
@mattDavo  maybe you could create a universal binary based on this blog: https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary and we could test it?

[2021-08-26 19:58] paw-lu opened #47 "Preview pop up not triggering on spacebar press"
Pressing the spacebar when a snippet is highlighted does not seem to trigger a pop-up preview.

---

Thanks for sharing this tool, it's been really useful!

[2021-08-27 09:46] drej1 commented on #47
Hi @paw-lu , you have to press control + space

[2021-08-27 15:33] paw-lu commented on #47
Works!

Thank you so much @drej1.

I'll mark this as closed, but might be good to update the site to reflect that!

<img width="1649" alt="Screen Shot 2021-08-27 at 8 31 30 AM" src="https://user-images.githubusercontent.com/30049606/131152262-a938bc82-283a-4ae9-937f-d390ca2d31b2.png">

[2021-08-27 15:33] #47 closed, assigned to nobody

[2021-09-02 03:06] paw-lu opened #48 "Yippy seems to hijack ⌘ + \"
When Yippy is running in the background, pressing <kbd>⌘</kbd><kbd>\\</kbd> seems to unfocus the current window. This is a shortcut on other apps, so Yippy seems to hijack it, preventing other programs from using it. Quitting Yippy returns things to normal.

My main shortcut for Yippy is bound to another keyboard combination.

Why is Yippy hijacking this combination? Is it another shortcut? Is the

[2021-09-06 16:04] jasonferrier commented on #48
I have the same issue. `CMD+\` is and has been my global shortcut for another application for over a decade and Yippy has hijacked it, even when the Yippy window is not displayed.

[2021-09-10 06:03] posguy99 commented on #48
Confirmed.  Yippy captures ⌘\ and interferes with 1Password.

[2021-09-11 21:51] posguy99 commented on #48
Yippy binds ⌘ + \ to "Focus Search Bar" on line 88 of Yippy/Sources/Windows/Yippy/YippyViewController.swift.

Yippy's key bindings are not globals, are they?   It uses **HotKey**, which package description implies they're globals.  But it shouldn't be capturing hotkeys when its window isn't on-screen.  That explains why the currently focused **window** appears to lose focus, but the currently focu

[2021-11-01 17:14] blfernandezGit opened #49 "Unknown format displayed on Yippy history for Snapshot copy"
![image](https://user-images.githubusercontent.com/40425254/139711179-cc73ffce-da0b-489d-a4bb-1cbb6455a3c3.jpeg)

Test steps:
1. On a mac, press Shift+Command+4
2. Press and hold Control button while holding and dragging mouse cursor to take a snapshot and copy it to clipboard
3. View copied snapshot in clipboard

Expected Result:
View snapshot image in Yippy History

Actual Result:
"Unknown forma

[2021-11-13 22:13] albert239825 commented on #25
Yes please! The functionality of Yippy is amazing, but it serves little purposing taking up menu bar icon space. Thank you so much to the developers!

[2021-11-15 09:35] pioz opened #50 "Preference setting to hide the icon on the menubar"
It would be great to have the option to hide the icon from the menubar.

[2021-11-16 22:39] gagarine opened #51 "Display rich text in raw text in the history"
Sometimes the riche text may be from the same colour that the background of Yippy. I think it would be better to simply display the text in "raw text" even if you past it in rich text after.

[2021-11-17 20:09] gagarine commented on #43
On multi-screen I have similar problem. Yippy take focus and when I select the entry I want to past, Yippy past it in the wrong windows (two word document open, each in different screen).

[2021-11-18 05:27] albert239825 commented on #50
I agree, this issue has already been brought up in #25.

[2021-12-14 03:04] albert239825 commented on #22
Sorry I can't of assistance, but I would like to say that I would love this feature! Thanks for the amazing service!

[2022-01-06 08:15] Rediwed opened #52 "Frequent high CPU usage burst (2.8.1)"
Every so-often Yippy 2.8.1 seems to kick into high-gear and require up to 99% CPU resources. This seems to only happen every 30-60 minutes, and the CPU usage will stay high for a couple seconds (maybe 20 seconds or so).

See here: https://cln.sh/ppmdFhdnOc8zgrq8skCx

At this time I wasn’t particularly using Yippy, though it was of course open in the background.

Can I provide any logs?

[2022-01-26 04:21] meichthys commented on #45
It's probably not what you're looking for, but you can also click the value once and then hit `Enter`

[2022-01-26 04:22] meichthys commented on #40
Related to #44

[2022-02-06 09:45] mcbaer opened #53 "Change Uterus Looking Menubar Icon!"
Please provide an option to change or hide the menubar icon; It looks like a bad rendition of the Uterus diagram from sex ed class.

Or better yet, just change it completely, menubar and application icon.

[2022-04-12 08:29] karlhorky opened #54 "Pasting into window in active display"
Hey @mattDavo ! 👋 Hope that 2022 is treating you well so far!

Yippy continues to be amazing for everything, have recommended it to a bunch of students too! 🙌 They are getting a lot out of it too.

One thing that breaks my workflow often is the multi-monitor support:

When pasting from Yippy, it does not paste to the active app on the last-focused display, it always pastes to the window in the pri

[2022-04-14 16:51] superfladdy commented on #22
I don't want to lose Yippy with the next macOS where they might remove Rosetta. Based on the documentation, it should be "just" required to compile with the latest Xcode version and if using a custom makefile making sure universal binary is configured. So, sounds like recompiling with the latest Xcode and you should have a universal binary.

Unless you're using some x86 platform specific code - th

[2022-05-25 04:11] CollinsVakayil commented on #22
I wish I could help, but I don't know how to code. Please don't abandon this app, this should be native to MacOS.

[2022-05-25 18:17] CollinsVakayil commented on #22
@superfladdy @drej1
I don't know how to code, but I downloaded Xcode and tried to recomplie to include a universal binary so Yippy can can run natively on Apple Silicon Macs. I'm getting this issue. Any idea how to fix it?

<img width="1624" alt="Screen Shot 2022-05-25 at 1 12 22 PM" src="https://user-images.githubusercontent.com/79551523/170337096-861a4350-1ca6-423c-9e73-592f958f036b.png">

[2022-06-05 09:00] paul-blum commented on #11
Yes that would be awesome! At the moment it is a bit obstrusive.

[2022-07-21 10:57] neonfit opened #55 "Copy from apps"
Dear @mattDavo!
First of all thank you for this amazing app that made my life easier =)

I found a problem that it is impossible to add to clipboard for example a screenshot from Lightshot or a password from Dashlane...
Am I doing something wrong or it is not possible to have this feature in Yuppy?

Thanks in advance and thank you for your job!

[2022-08-25 11:04] laazybeard commented on #45
@meichthys I'm also suffer because of lack this feature. Could you please add it? So we can paste items just with double click. Thanks in advance!

[2022-08-25 13:41] meichthys commented on #45
@laazybeard I'm not the developer here and am not familiar with the code, so i don't think i can help out in adding the feature :/

[2022-08-25 14:06] laazybeard commented on #45
@meichthys oh sorry then, I thought that you are developer of the app.

[2022-08-26 18:17] fserb commented on #48
Same here. How to disable this?

[2022-08-26 18:47] posguy99 commented on #48
Rebuild it, either removing the hotkey link or setting it to something else.  I don't really want to install Xcode, so I didn't do either one.

[2022-08-26 18:49] posguy99 commented on #55
You almost certainly do not want a clipboard manager capturing items put on the clipboard by Dashlane.

[2022-08-26 19:13] neonfit commented on #55
@posguy99
Ok, Dashlane wasn’t a good idea, but what’s about Lightshot? Is there any hope?
thanks

[2022-08-29 21:35] beeb commented on #26
I think this doesn't work with 1Password 8. (bundle identifier `com.1password.1password`)

[2022-09-19 07:36] austintraver commented on #48
I'm experiencing this issue as well. @mattDavo would removing this keyboard shortcut from line 88 of `/Yippy/Sources/Windows/Yippy/YippyViewController.swift` cause problems elsewhere in the app? If not, I'm happy to submit a PR with that line commented out.

[2022-09-20 17:28] CollinsVakayil opened #57 "Please Fix: Yippy clipboard cut off by menubar on MacOS Ventura"
<img width="490" alt="Screenshot 2022-09-20 at 12 26 34 PM" src="https://user-images.githubusercontent.com/79551523/191324795-e99574de-d900-4dff-8ba9-f28b317e7d99.png">

[2022-10-24 15:43] karlhorky commented on #26
Thanks @beeb for the PR https://github.com/mattDavo/Yippy/pull/56 to add the 1Password 8 bundle identifier!

[2022-10-24 15:47] karlhorky commented on #54
@mattDavo I think a workaround for this would be an option to disable the search bar. Do you think this would be possible?

[2022-11-02 12:54] dr-format-d commented on #47
This should also be changed in the help section of the App itself. Just found the app and love it's potential. But i'm afraid this is abandoned?
<img width="435" alt="grafik" src="https://user-images.githubusercontent.com/110388306/199494635-bb2766af-db03-4d83-b319-dee34d17edad.png">

[2022-11-12 00:15] mmynsted opened #58 "Allow edit of a snippet"
Would it be possible to add a new feature that permits one to right-click (or click some key combination) on a snippet and edit the content?